<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <!--link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous"-->
     <!-- Latest compiled and minified CSS -->
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <title>Shalika's Blog!</title>
  </head>
  <body>

  <nav class="navbar navbar-inverse">
    <div class="container">
          <div class ="navbar-header">
            <a class="navbar-brand" href="#">Shalika's Blog</a>
            <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#mynav">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
          </div>

          <div class="collapse navbar-collapse" id="mynav">
           <ul class="nav navbar-nav">
             <li><a>About</a></li>
             <li><a href="https://www.facebook.com/shalika.nigam">Facebook</a></li>
             <li><a href="https://twitter.com/shalikanigam151">Twitter</a></li>
           </ul>
          </div>
    </div>
  </nav>


  <div class="container">

      <h1 class ="text-center">Welcome to Shalika's Blog!</h1>

      {% load static %}
      <img src="{% static 'posts/Home.jpg' %}" class = "img-responsive center-block"  style = "max-height:500px; max-width:1000px;"/>

      <h2>Latest Posts</h2>
      <hr/>
      {% for post in posts.all %}

      <a href="{%url 'post_detail' post.id %}"> <h3>{{post.title}}</h3></a>
      <br/>
      <h4><span class="glyphicon glyphicon-time" aria-hidden="true"></span> {{post.pub_date_shortcut}}</h4>
      <br/>
      <img src="{{post.image.url}}" class = "img-responsive center-block" style="max-height:200px;">
      <br/>
      {{post.body_shortcut}}
      <br/>
      <br/>

      {%endfor%}
  </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  </body>
</html>














