
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <title>Shalika's Blog!</title>
  </head>
  <body>

  <nav class="navbar navbar-inverse">
    <div class="container">
          <div class ="navbar-header">
            <a class="navbar-brand" href="#">Shalika's Blog</a>
            <button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target="#mynav">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>

            </button>
          </div>

          <div class="collapse navbar-collapse"  id="mynav">
           <ul class="nav navbar-nav">
             <li><a>About</a></li>
             <li><a href="https://www.facebook.com/shalika.nigam">Facebook</a></li>
             <li><a href="https://twitter.com/shalikanigam151">Twitter</a></li>
           </ul>
          </div>
    </div>
  </nav>


  <div class="container">

      <a href="{%url 'post_detail' post.id %}"><h1>{{post.title}}</h1></a>
      <br/>
      <span class="glyphicon glyphicon-time" aria-hidden="true"></span> {{post.pub_date_shortcut}}
      <br/>
      <img src="{{post.image.url}}" class = "img-responsive center-block" style="max-height:300px;">
      <br/>
      {{post.body}}
      <br/>
      <br/>
      <div id="disqus_thread"></div>
        <script>

        var disqus_config = function () {
        this.page.identifier = 'post-{{ post.id}';
        };

        (function() {
        var d = document, s = d.createElement('script');
        s.src = 'https://shalikasblog.disqus.com/embed.js';
        s.setAttribute('data-timestamp', +new Date());
        (d.head || d.body).appendChild(s);
        })();
        </script>
        <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>


  </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  </body>
</html>
